<h2 class="ui dividing center aligned header">
	<i class="blue mail outline icon"></i>
	Request a Reservation
</h2>
<br/>
<div id="login">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal icon header">
        <i class="circular checked calendar icon"></i>
        Get A Quote
      </h2>
      <div class="ui large form">
      	<form action="https://formspree.io/myvenmue@gmail.com" method="POST">
        <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="nomen" placeholder="Name">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class ="idea icon"></i>
                <input type="text" name="event" placeholder="What are you planning?">
              </div>
            </div>
              <div class="field">
 				<div class="ui left icon input">
 					<i class="users icon"></i>
 					<input type="text" name="attendees" placeholder="Number of attendees">
 				</div>
              </div>
              <div class="field">
 				<div class="ui left icon input">
 					<i class="dollar icon"></i>
 					<input type="text" name="budget" placeholder="Budget">
 				</div>
              </div>
				<div class="field">
					<div class="ui left icon input">
						<textarea type="textarea" name="info" placeholder="Additional information, (Catering, Start/End times, Special requests.)"></textarea>
					</div>
				</div>
            <button id="sentButton" class="ui blue labeled icon button" type="submit"><i class="send icon"></i>Submit Quote Request</button>
            </div>
            </form>
        </div>
    </div>

    </div>
  </div>
</div>