html body {
  background-color: #FCFBFC;
}
#obutton {
margin-top: 15px;
margin-left: 1%;
float:right;
}
#reviews {
  margin-left: 1%;
  margin-right: 1%;
}
#searching {
margin-top: 15px;
margin-left: 67%;
position: absolute;
}
#searchtext {
margin-top: 23px;
margin-left: 55%;
position: absolute;
}
#venueImage {
width:55%;
height:100%;
position: relative;
}
#venueText {
height:50%;
width:70%;
position:absolute;
color:skyblue;
font-size: 16px;
float:right;
overflow-y: scroll;
}
#descIco {
	color:white;
	position: absolute;
}
#descIco span {
	font-size: 35px;
	margin-left: 10px;
	font-family: lato;
}
#widget {
	background-color: #2e3236;
	box-shadow:5px 5px 5px black;
	width:100%;
	height:65.5%;
}
#logo {
width:80px;
height:70px;
margin-left: 88%;
margin-top: 10px;
margin-bottom: -8px;
position: absolute;
/*	background-image: url("/venmuelogo.jpg");*/
}
#logo {
	max-width: 100%;
	max-height: 100%;
}
#headerContainer {
  position:absolute;
  text-align: center;
  width:100%;
}
#view_header {
  background-color: rgba(0, 0, 0, .6); 
  padding-bottom: 10px;
}
#viewheader, #header_text1, #header_text2 {
	z-index: 1;
	color:white;
	text-shadow:3px 3px 3px black;
	font-size: 30px;
  display:block;
  margin-top:90px;
}
#up {
  margin-left:50%;
  margin-right: 50%;
}
#headericon {
	float:left;
	margin-left: 10%;
}
#address {
  margin-top: 9%;
}
.ui.cube.shape {
  width:150px;
  margin-right: 10%;
}
#mymap {
	height:450px;
	width:900px;
}
#showLocation {
	height:100%;
	width:100%;
	background-color: #2e3236;
}

.headerDivider {
     border-left:.6px solid #DEDEDF; 
     border-right:.6px solid #DEDEDF; 
     height:470px;
     position:absolute;
     right:50%;
     top:520px; 
     margin-bottom: 1%;
     opacity: .95;
}
#newform {
	margin-left:30%;
	margin-top: 5%;
	margin-bottom: 1%;
}
#editicon {
	float:right;
	margin-left: 25px;
}
#login {
	display: inline-block;
	margin-left:35%;
	width:400px;
	float:center;
	position:absolute;
}
.flexbox{
  display: flex;
  flex-flow: column wrap;
  height: 950px;
  width: 80%;
  margin: 5% 5% 5% 10%;
  align-items: center;
}
.flexbox1{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#reviewCards {
  cursor: default;
}
.card .image {
	height:200px;
	overflow:hidden;
	cursor:default;
}
#allbutton {
  margin-left:45%;
  float:bottom;
  margin-top: 3%;
} 
#reviewForm {
  margin-left: 38%;
  margin-right: -40%;
}
#reviewHead {
  margin-left:6%; 
}
#boxshadow {
	box-shadow: 5px 5px 5px #888888;
}
#boxshadow:hover {
	box-shadow: 5px 10px 5px #888888;
}
#map {
    height:80%;
    width:80%;
    margin:auto;
    box-shadow: 5px 5px 10px 8px black;
  }
#mapHome {
	height:100%;
	width:100%;
  border:2px solid black;
  box-shadow: 5px 10px 5px #888888;
  overflow: none;
}
#mapHome:hover{ 
  position: relative; 
 top: -5px;
 box-shadow: 10px 10px 10px #888888;
} 
@-webkit-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
#navbar .row {
	width:100%;
	background-color:black;
}
#cf4a {
  position:relative;
  height:400px;
  width:1800px;
  margin:0 auto;
  z-index: -1;
}
#cf4a img {
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  z-index: -1;
}

#cf4a img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;

  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 16s;

  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 16s;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}
#cf4a img:nth-of-type(1) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
#cf4a img:nth-of-type(2) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
#cf4a img:nth-of-type(3) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#cf4a img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
#up:hover {
 
}
#up:hover, #hi-icon:hover {
    -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-direction: alternate;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);opacity: 1;}
  40% {transform: translateY(-5px);}
  60% {transform: translateY(-5px);}
}
.ui.button:hover {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}